.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.search-bar {
  display: flex;
  padding-left: 20px;
}

.search-bar input {
  border: none;
  width: 260px;
  padding-left: 10px;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.user-icon div {
  border: 1px solid lightgray;
  margin-right: 8px;
}

.user-pic {
  width: 25px;
  height: 25px;
  background-image: url("../../public/images/Logo.png");
  background-position: center;
}

.notification-circle {
  width: 8px;
  background-color: red;
  height: 8px;
  border-radius: 8px;
  position: relative;
  top: -13px;
  right: -38px;
}

.notification-icon {
  display: flex;
  background-color: #eff3f9;
  width: 25px;
  height: 25px;
}

@media only screen and (min-width:400px) and (max-width: 895px) {
  .user-icon{
    margin-right: 5%;
  }
}

@media only screen and (max-width: 399px) {
  .user-icon{
    margin-left:-15px;
  }
}